# Ignore everything in the root except the "wp-content" and "favicons" directory.
/*
!.gitignore
!wp-content/
!favicons/
!README.md

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
  
# Ignore everything in the "themes" directory, except the projects' theme
wp-content/themes/*
!wp-content/themes/alpackit-rsvp/


# Ignore everything in the "plugins" directory, except the projects' plugin
wp-content/plugins/*
!wp-content/plugins/alpackit-rsvp/
!wp-content/plugins/rsvp/